@page
@using System.Reflection
@using System.Diagnostics
@model IndexModel
@{
    ViewData["Title"] = "Home page";
    Assembly assembly = Assembly.GetExecutingAssembly();
    FileVersionInfo fileVersionInfo = FileVersionInfo.GetVersionInfo(assembly.Location);
    string version = fileVersionInfo.ProductVersion;
}

<div class="text-center">
    <h1 class="display-4">V@(version)</h1>
</div>
